* {
	padding: 0;
	margin: 0;
	border: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    overflow: hidden;
}
img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.wrap  {
    width: 860px;
    height: 720px;
    box-sizing: border-box;
    background-color: darkcyan;
    border-radius: 0 0 10px 10px;
}
.buttons {
    display: flex;
    gap: 15px;
    justify-self: end;
}
.buttons a {
    width: 5px;
    display: inline-block;
    border-radius: 50%;
    color: yellow;
    background-color: yellow;
    border: outset;
    padding: 10px;
    margin: auto;
}
.buttons a:hover {
    cursor: pointer;
    background-color: unset;
}
.jpgWrap {
    width: 800px;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow: hidden;
    margin: 20px 30px 0;
}
#mem1 {
    width: 800px;
    height: 600px;
    border-radius: 10px;
}
#mem1:target {
    animation: slide 2s forwards;
}
#mem2 {
    width: 800px;
    height: 600px;
    border-radius: 10px;
}
#mem2:target {
    animation: slide 2s forwards;
}
#mem3 {
    width: 800px;
    height: 600px;
    border-radius: 10px;
}
#mem3:target {
    animation: slide 2s forwards;
}
#mem3 img {
    width: 800px;
}
#mem4 {
    width: 800px;
    height: 600px;
    border-radius: 10px;
}
#mem4:target {
    animation: slide 2s forwards;
}
.memText {
    display: flex;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
@keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-800px);
    }
  }
  