* {
	padding: 0;
	margin: 0;
	border: 0;
	}

  html {
  scroll-behavior: smooth;
  }

  body {
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  overflow: hidden;
}
img {
    max-width: 100%;
    object-fit: cover;
}
.wrap {
    width: 800px;
    height: 750px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow: hidden;
    margin: 0 20px;
}
.mem1 {
    width: 800px;
    height: 600px;
    background: url(../cssMemeSlider/jpeg/fine.jpg) center no-repeat;
    background-size: cover;
    border-radius: 10px;
    position: relative;
}
.mem2 {
    width: 800px;
    height: 600px;
    background: url(../cssMemeSlider/jpeg/bag.jpg) center no-repeat;
    background-size: cover;
    border-radius: 10px;
    position: relative;
}
.mem3 {
    width: 800px;
    height: 600px;
    background: url(../cssMemeSlider/jpeg/pravilno.jpg) center no-repeat;
    background-size: cover;
    border-radius: 10px;
    position: relative;
}
.mem4 {
    width: 800px;
    height: 600px;
    background: url(../cssMemeSlider/jpeg/vovka.jpg) center no-repeat;
    background-size: cover;
    border-radius: 10px;
    position: relative;
}
.memText {
    position: absolute;
    top: 650px;
    left: 0px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}